<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-cajero</title>
</head>
<body>
    <div class="admin-container">
        <h1>Admin de mi cajero</h1>
        <h2><i class="fas fa-user-shield" >
        </i> Menu Administración </h2>

        <ul class="admin-menu"> 
            <li>
                <a th:href="@{admin/crear-cliente}"></a>
                <i class="fas fa-user-plus"></i>
                crear Cliente
            </li>
        </ul>


    </div>
    
</body>
</html>